@inherits LayoutComponentBase

<PageTitle>Daft</PageTitle>

<div class="page" style="background-color:rgb(245,245, 245)">
	<main>
		<div class="top-row px-8 bg-white">
			<div class="container">
				<div class="d-flex align-items-start">
					<a href="/"><img src="Photos/logo.svg" class="link" alt="Daft.ie" style="width:5rem "/></a>

					<a href="/" class="text-black text-decoration-none">Buy</a>
					<a href="/" class="text-black text-decoration-none">Rent</a>
					<a href="/" class="text-black text-decoration-none left">Share</a>
				</div>
			</div>

			<a href="/user" class="text-black text-decoration-none">Place Ad</a>
			<a href="/login" class="text-black text-decoration-none">Sign in</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
