@page "/"
@page "/{Purpose}"
@using Core.Models
@using System.Text.Json;

@inherits ComponentAPI
@inject NavigationManager Navigator

<div class="row">
	<div class="col">
		<div class="input-group input-group" style="min-height:70px">
			<span class="input-group-text "><i class="oi oi-magnifying-glass"></i><small>Dublin City</small></span>
			<input type="text" class="form-control col-3" @bind="Purpose">
		</div>
	</div>
	<div class="col">
		<div class="input-group input-group" style="min-height:70px">
			<input type="text" class="form-control" placeholder="Price">
			<select type="text" class="form-control">
				<option>Any room</option>
				<option>Single</option>
				<option>Double room</option>
				<option>Twin</option>
				<option>Share</option>
			</select>
		</div>
	</div>
</div>
<br />
<div class="container">
	@foreach (var item in _properties)
	{
		<div role="button" @onclick="() => GoTo(item)" class="card mb-3" style="max-width: 740px;min-height:300px;min-width:480px">
			<div class="row g-0">
				<div class="col-md-8">
					<picture>
						<source srcset="/Photos" type="image/svg+xml+webp">
						<img src="data:image/webp;base64, @((string)item.Photos.First())" class="img-fluid" style="min-height:300px;min-width:480px" alt="photo">
					</picture>
				</div>
				<div class="col-md-4">
					<div class="card-body align-content-center">
						<h5 class="card-title fw-bold pt-5">€@item.Price per month</h5>
						<p class="card-text mb-1">@item.Address</p>
						<p class="card-text align-text-top"><small class="text-muted">@item.OfferPurpose - @item.Type </small></p>
					</div>
				</div>
			</div>
		</div>
		<br />
	}
</div>

@code {

	[Parameter] public string Purpose { get; set; }

	List<Property> _properties;

	private static List<Property> _props = new()
		{
			new("Smithfield", OfferPurpose.Share, PropertyType.Appartment, 500),
			new("D08 A245", OfferPurpose.Sell, PropertyType.Appartment, 340),
			new("D12 V271", OfferPurpose.Share, PropertyType.Flat, 390),
			new("Temple bar D2 A456", OfferPurpose.Share, PropertyType.Appartment, 700),
			new("D08 A245", OfferPurpose.Rent, PropertyType.House, 340),
			new("D12 V271", OfferPurpose.Rent, PropertyType.Appartment, 390),
		};

	void GoTo(Property p)
	{
		Navigator.NavigateTo($"/details/{p.Id}");
	}

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		_properties = new(_props.Where(p => Purpose == null || p.OfferPurpose.ToString().Equals(Purpose)).ToList());
		StateHasChanged();
		return base.OnAfterRenderAsync(firstRender);
	}

	protected override async Task OnInitializedAsync()
	{
		//using var client = GetClient();
		//_properties = await client.GetFromJsonAsync<List<Property>>("Properties") ?? new List<Property>();

		//just for testing
		_props.ForEach(p =>
		{
			var src = $"wwwroot/Photos/{Random.Shared.Next(1, 6)}.webp";
			var data = File.ReadAllBytes(src);
			var photo = new Photo(data);
			p.Add(photo);
		});

		_properties = new(_props.ToList());

		// test-end

		await base.OnInitializedAsync();
	}
}
