@page "/"

<PageTitle>Index</PageTitle>

<div class="top-row px-4">
    <a class="font-weight-bold link-dark" href="properties">Properties</a>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
