@page "/login"

@using System.Text.Json
@using System.Text.Json.Serialization;
@using Core.Models

@inherits ComponentAPI

<div class="container-fluid bg-white">
	<div class="d-grid gap-2 col-5 mx-auto bg-bg-dark">
		<h3>Sign in to continue</h3>
		<div class="mb-3">
			<label class="form-label">Email or username</label>
			<input type="email" @bind="user.Email" class="form-control">
		</div>
		<div class="mb-3">
			<label class="form-label">Password</label>
			<input type="password" @bind="user.Password" class="form-control" />
		</div>
		<div class="mb-3">
			<button type="submit" class="btn btn-primary btn-lg" @onclick="login">Sign In</button>
		</div>
	</div>
</div>



@code {

	private User user = new User("", "");

	private async Task login()
	{
		using var client = GetClient();

		var response = await client.PostAsJsonAsync($"{Host}Users/Login", user);
		response.EnsureSuccessStatusCode();
	}
}
