@page "/login"

@using System.Text.Json
@using Core.Models
@using System.Text.Json.Serialization

@inherits ComponentAPI
@inject NavigationManager Navigator

<EditForm Model="user" OnSubmit="login">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="container-fluid bg-white">
		<div class="d-grid gap-2 col-5 mx-auto bg-dark">
			<h3>Sign in to continue</h3>
			<div class="mb-3">
				<label class="form-label">Email or username</label>
				<InputText type="email" @bind-Value="user.Email" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<label class="form-label">Password</label>
				<InputText type="password" @bind-Value="user.Password" class="form-control"></InputText>
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary btn-lg" @onclick="login">Sign In</button>
			</div>
		</div>
	</div>
</EditForm>



@code {

	private User user = new User("", "");

	private async Task login()
	{
		using var client = GetClient();

		var response = await client.PostAsJsonAsync("Users/Login", user);
		response.EnsureSuccessStatusCode();

		if (await response.Content.ReadFromJsonAsync<bool>()) Navigator.NavigateTo("/");
	}
}
