@page "/properties"
@using Core.Models
@using System.Text.Json;

@inherits ComponentAPI

<div class="container">
	@foreach (var item in _properties)
	{
		<div class="card mb-3" style="max-width: 740px;min-height:300px;min-width:480px">
			<div class="row g-0">
				<div class="col-md-8">
					<picture>
						<source srcset="..." type="image/svg+xml">
						<img src="..." class="img-fluid img-thumbnail" style="min-height:300px;min-width:480px" alt="...">
					</picture>
				</div>
				<div class="col-md-4">
					<div class="card-body align-content-center">
						<h5 class="card-title fw-bold pt-5">€@item.Price per month</h5>
						<p class="card-text mb-1">@item.Address</p>
						<p class="card-text align-text-top"><small class="text-muted">@item.OfferPurpose - @item.Type </small></p>
					</div>
				</div>
			</div>
		</div>
		<br />
	}
</div>

@code {

	private List<Property> _properties = new();

	protected override async Task OnInitializedAsync()
	{
		using var client = GetClient();
		_properties = await client.GetFromJsonAsync<List<Property>>("Properties") ?? new List<Property>();

		//just for testing
		_properties = new()
			{
				new("smithfield", OfferPurpose.Share, PropertyType.Appartment, 500),
				new("d08 a245", OfferPurpose.Share, PropertyType.Appartment, 340),
				new("d12 v271", OfferPurpose.Share, PropertyType.Appartment, 390),
			};
		// test-end

		await base.OnInitializedAsync();
	}
}
