@using Core.Models.Requests

@inherits ComponentAPI

<EditForm Model="request" OnSubmit="SendRequest" class="m-3" style="min-width:50%">
	<div class="mb-3">
		<label class="form-label">Email address</label>
		<input type="email" @bind-value="request.Email" class="form-control mw-100" placeholder="name@example.com">
	</div>
	<div class="mb-3">
		<label class="form-label">Text</label>
		<textarea @bind="request.Text" class="form-control" rows="3"></textarea>
	</div>
	<button class="btn btn-primary align-content-end">Submit</button>
</EditForm>

@code {

	EmailRequest request = new();

	[Parameter] public string Email { get; set; }
	[Parameter] public long PropertyId { get; set; }

	[CascadingParameter] public BlazoredModalInstance thisModal { get; set; }

	protected override Task OnInitializedAsync()
	{
		request.EmailTo = Email;
		request.PropertyId = PropertyId;
		return base.OnInitializedAsync();
	}

	async Task SendRequest()
	{
		using var api = Endpoint("Properties/");
		var response = await api.PostAsJsonAsync("Email", request);

		if (response.IsSuccessStatusCode)
		{
			var serialized = await response.Content.ReadAsStringAsync();
			await thisModal.CloseAsync(ModalResult.Ok(serialized));
		}
	}
}
